body{
 
}

.cursosEstudiante{
  display: grid;
  grid-template-columns: repeat(3, 1fr);

}

.zoom{
  background:linear-gradient(transparent, transparent),url("https://import.cdn.thinkific.com/470601/custom_site_themes/358479/Zj8Wz15lQ26A979oOQfi_Diseno_sin_titulo_%2820%29.png?width=1920");
  height: 350px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.notfound{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
}
